@import "../abstracts/mixins";
@import "../abstracts/variables";

.footer {
  position: relative;
  &:before {
    content: '';
    background: linear-gradient(180deg, #FFFFFF 19.01%, rgba(255, 255, 255, 0.65) 57.4%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    width: 100%;
    height: 70px;
    left: 0;
    top: -35px;
  }
  &-contacts {
    padding-top: 80px;
    color: $defaultTextColor;
    background: url('../img/footer-top.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    // height: 1040px;
    @media (max-width: $breakpoint-lg) {
      height: unset;
    }
    &__subheading {
      padding: 16px 0 24px 0;
    }
    &__phones {
      &__item {
        margin-bottom: 4px;
        & a {
          @include fontSize (18, 24);
          line-height: 36px;
          font-weight: 600;
        }
      }
    }
    &__callback {
      margin-top: 300px;
      position: relative;
      padding-bottom: 200px;
      @media (max-width: $breakpoint-lg) {
        margin-top: 0;
        padding: 60px 0;
        position: relative;
      }
    }
  }
  &-main {
    padding: 160px 0 20px 0;
    background: url('../img/footer-bottom.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    @media (max-width: $breakpoint-lg) {
      padding: 40px 0 20px 0;
    }
    & a {
      letter-spacing: 1px;
      color: #9B989B;
      position: relative;
      @include fontSize (14, 16);
      line-height: 30px;
      font-weight: 500;
      &:before {
        content: '';
        position: absolute;
        width: 0;
        height: 1px;
        background: #9B989B;
        left: 0;
        bottom: -3px;
        @include transition(.3);
      }
      &:hover {
        &:before {
          width: 100%;
        }
      }
      @media (max-width: $breakpoint-sm) {
        line-height: 36px;
      }
    }
    &__contacts, &__contacts_box {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
    }
    &__contacts-box {
      @media (max-width: $breakpoint-lg) {
        align-items: flex-start;
      }
    }
    &__logo {
      padding-bottom: 47px;
    }
    &__icon {
      padding-right: 15px;
    }
    &__contract {
      padding-left: 40px;
      @media (max-width: $breakpoint-lg) {
        padding: 0;
        display: flex;
        justify-content: center;
        & a {
          line-height: 28px;
        }
      }
      & a:before {
        width: 100%;
      }
      &:hover a:before {
        width: 0;
      }
    }
    &__phone_items {
      & a {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 1px;
        padding-bottom: 8px;
        &:before {
          bottom: 4px;
        }
      }
    }
    & .row:first-child {
      @media (max-width: $breakpoint-sm) {
        justify-content: center;
      }
    }
  }
  &-category {
    @media (max-width: $breakpoint-sm) {
      padding-bottom: 24px;
    }
    &__title {
      color: $whiteColor;
      letter-spacing: 3px;
      text-transform: uppercase;
      @include fontSize (14, 16);
      line-height: 20px;
      font-weight: 700;
      padding: 16px 0 12px 0;
    }
    & .menu-item {
      text-align: center;
    }
  }
  &-copyright {
    padding-top: 20px;
    width: 100%;
    @media (max-width: $breakpoint-sm) {
      flex-direction: column;
    }
    &__company, &__madeBy {
      color: #A29FA2;
      @include fontSize (12, 14);
      cursor: pointer;
    }
    &__madeBy {
      line-height: 20px;
      display: block; 
        &:hover {
          &:before {
            display: none;
          }
        }
      
      @media (max-width: $breakpoint-sm) {
        padding-top: 16px;
      }
      & span {
        font-weight: 700;
        color: #A29FA2;
        @include transition(.2);
        cursor: pointer;
      }
      &:hover {
        span {
          color: #FFFFFF;
        }
      }
    }
  }
}

.footer .footer-copyright__madeBy {
  @include fontSize (12, 14);
  letter-spacing: unset;
}


.footer-contacts__callback button:hover {
  & .footer-contacts__callback {
    display: none;
  }
}