@import "../abstracts/mixins";
@import "../abstracts/variables";

.header {
  background-size: cover;
  height: 100vh;
  color: $whiteColor;
  position: relative;
  &:after {
    content: '';
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
    background: rgba(0, 0, 0, 0.2);
  }
  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
  }
  & .column {
    z-index: 11;
    @media (max-width: $breakpoint-xl) {
      text-align: center;
    }

  }
  &-top-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: #8E6954;
      opacity: 0.4;
      @media (max-width: $breakpoint-xl) {
        display: none;
      }
    }
    & .column {
      z-index: 13;
    }
  }

  &-payment {
    padding: 14px 12px;
    background: $darkBrownColor;
    color: #C66A36;
    @include transition(.3);
    font-weight: 600;
    font-size: 16px;
    &:hover {
      background: #B78131;
      color: #4A1F07;
    }
    @media (max-width: $breakpoint-xl) {
      display: none;
    }
    & img {
      margin-right: 7px;
    }
  }
  &-phones {
    @media (max-width: $breakpoint-xl) {
      max-width: calc(100% - 50px);
      flex-direction: column;
      &__item {
        margin-bottom: 10px;
      }
    }
    &__item {
      & img {
        margin-right: 5px;
      }
      & a {
        color: $whiteColor;
      }
    }
  }
  &-search {
    position: relative; 
    @media (max-width: $breakpoint-xl) {
      display: none;
    }
    &__input {
      border: none;
      outline: none;
      padding: 13px 35px 13px 16px;
      background: $lightBrownColor;
      color: $darkBrownColor;
      font-weight: 600;
      line-height: 22px;
      @include fontSize(14, 18);
      &::placeholder {
        color: $darkBrownColor;
        font-weight: 600;
        line-height: 22px;
        @include fontSize(14, 18)
      }
      &::-webkit-input-placeholder {
        color: $darkBrownColor;
      }
    }
    &-btn {
      border: none;
      background: url('../../img/vektor/search.svg') no-repeat center;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 40px;
      outline: none;
    }
  }
  &-lang {
    padding-left: 16px;
    @media (max-width: $breakpoint-xl) {
      display: none;
    }
  }
  &-top {
    background: rgba(0, 0, 0, 0.5);
    @media (max-width: $breakpoint-xl) {
      padding: 0 0 15px 0;
      display: flex;
      flex-direction: column-reverse;
      position: relative;
      & .container {
        margin: 0;
      }
    }
    &-burger {
      display: none;
      @media (max-width: $breakpoint-xl) {
        display: block;
      }
    }
  }
  &-logo {
    padding: 16px 0 30px 0;
    @media (max-width: $breakpoint-xl) {
      position: relative;
      padding: 16px 0 15px 0;
      & .column {
        justify-content: flex-start;
        & img {
          display: block;
          max-width: calc(100% - 80px);
          object-fit: contain;
        }
      }
    }
  }
  &-primary {
    height: calc(100% - 173px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: $breakpoint-xl) {
      height: calc(100% - 213px);
      align-items: center;
      justify-content: center;
    }
    & div {
      z-index: 3;
      color: $whiteColor;
    }
    &-nav {
      @media (max-width: $breakpoint-xl) {
        display: none;
        z-index: 22;
      }
    }
    &-screen {
      @media (max-width: $breakpoint-xl) {
        margin-top: 40px;
      }
      & .primary-screen-subtitle {
        padding-top: 15px;
      }
      & .primary-screen-carousel {
        @media (max-width: $breakpoint-xl) {
          display: none;
        }
      }
      & .primary-carousel {
        &__item {
          position: relative;
          width: 100%;
        }
        &__image img {
          height: 360px;
          object-fit: cover;
          border-radius: 5px;
          @media (max-width: $breakpoint-xl) {
            height: 450px;
          }
        }
        &-info {
          padding-left: 22px;
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 50%;
          &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.4) 50.52%, rgba(0, 0, 0, 0) 100%);
            border-radius: 5px 5px 0px 0px;
            transform: rotate(-180deg);
            z-index: -1;
          }
        }
        &__title {
          padding: 50px 0 8px 0;
          max-width: 60%;
          z-index: 3;
          color: $whiteColor;
        }
        &__more {
          padding-left: 40px;
          color: $whiteColor;
          &:before {
            content: '';
            width: 30px;
            height: 2px;
            background: $whiteColor;
            position: absolute;
            left: 0;
            top: 50%;
            @include transition (.3);
          }
          &:hover {
            &:before {
              left: -5px;
            }
          }
        }
      }
    }
  }
  &-bottom {
    background: rgba(32, 15, 21, .7);
    @media (max-width: $breakpoint-xl) {
      display: none;
    }
  }
  &-mobile {
    display: none;
    @media (max-width: $breakpoint-xl) {
      overflow-y: scroll;
      padding: 15px 0;
      position: fixed;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100%;
      display: block;
      background: #211420;
      z-index: 99;
      @include transition(.3);
      &.active {
        right: 0;
      }
    }
    &-logo {
      display: flex;
      justify-content: center;
      @media (max-width: $breakpoint-sm){
        max-width: 85%;
      }
      & img {
        @media (max-width: 400px) {
          width: 220px;
        }
      }
    }
    & .menu-item {
      width: 100%;
      position: relative;
      margin-bottom: 16px;
      & a {
        font-size: 18px;
        line-height: 28px;
        color: #A97456;
        position: relative;
        display: inline-block;
        align-items: center;
        width: 100%;
      }
    }
    & .primary-menu {
      padding: 25px 0 0 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      @media (min-width: $breakpoint-sm) {
        align-items: center;
      }
    }
    & .mobile-secondary-nav {
      &__button {
        display: flex;
        justify-content: space-between;
        width: 100%;
        background: $lightBrownColor;
        border: none;
        color: $whiteColor;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        padding: 12px 16px;
        @media (min-width: $breakpoint-sm) {
          width: 300px;
          margin: 0 auto;
        }
      }
    }
    & .mobile-phones {
      margin-top: 12px;
      display: flex;
      flex-direction: column;
      align-items: center;
      @media (max-width: $breakpoint-sm) {
       align-items: flex-start;
      }

    }
    & .header-payment {
      margin-top: 16px;
      display: flex;
      @media (min-width: $breakpoint-sm) {
        margin: 0 auto;
        max-width: 300px;
      }
    }
    & .header-search {
      display: block;
      
      @media (min-width: $breakpoint-sm) {
        margin: 0 auto;
        max-width: 300px;
      }
      & form {
        width: 100%;
        & .header-search__input {
          width: 100%;
        }
      }
    }
    & .mobile-lang {
      position: absolute;
      right: 15px;
      top: 25px;
      & .lang-option {
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: #A97456;
        margin-bottom: 16px;
        &.selected {
          &:before {
            content: '';
            background: #A97456;
            width: 20px;
            height: 2px;
            position: absolute;
            top: calc(50% - 1px);
            left: -25px;
          }
        }
      }
    }
  }
}

// TOP MENU ON DESKTOP
.header-primary-navigation {
  & .primary-menu {
    & .menu-item {
      z-index: 2;
      padding: 12px 6px;
      position: relative;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
      & a {
        color: $whiteColor;
        @include fontSize (14, 18);
        line-height: 1.5;
        font-weight: 600;
        &:before {
          content: '';
          position: absolute;
          bottom: 10px;
          left: 50%;
          -webkit-transform: translate(-50%, 0);
          -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
          width: 0;
          height: 2px;
          background-color: $whiteColor;
          @include transition (.3);
        }
        &:hover {
          &:before {
            width: 100%;
          }
        } 
      }
    }
  }
}


// BOTTOM MENU ON DESKTOP
.header-secondary-navigation {
  width: 100%;
}

.secondary-menu {
  .sub-menu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 100%;
    left: 0;
    min-width: 200px;
    @include transition(.3);
    top: 50px;
    &.open {
    opacity: 1;
    visibility: visible;
    }
  }
  &-item {
    @include transition(.3);
    position: relative;
    &:last-child {
      & .sub-menu {
        left: unset;
        right: 0;
      }
    }
    & i {
      padding: 0 8px;
    }
    &.isOpen {
      background: $lightBrownColor;
      & > a > i:before {
        transform: rotate(180deg);
        display: block;
      }
      & .secondary-menu-item {
        background: $lightBrownColor;
        &:hover {
          background: $darkBrownColor;
        }
      }
    }
  }
  & a {
    color: $whiteColor;
    @include fontSize (14, 18);
    line-height: 1.5;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding: 12px 0 12px 10px;
    & i {
      padding-left: 2px;
    }
  }
}

// HEADER MOBILE
.header-mobile {
  & .sub-menu {
    display: none;
    &.open {
      width: 100%;
      height: 100%;
      position: fixed;
      z-index: 109;
      padding: 0 15px;
      top: 105px;
      left: 0;
      background: #211420;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      @media(max-width: 440px){
        top: 75px;
      }
    }
    & .nav-btn {
      position: absolute;
      right: 0;
      width: 210px;
      padding-left: 160px;
      outline: none;
      &:focus {
        outline: none;
      }
      & i:before {
        color: #A97456;
        font-size: 20px;

      }
    }
  }
  & p {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 18px;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: $whiteColor;
  }
}

.nav-btn {
  border: none;
  background: transparent;
  position: relative;
  & i {
    transform: rotate(-90deg);
  }
}

.primary-menu li.menu-item-has-children>ul {
  display:none;
  padding: 26px 15px;
  position: absolute;
  width: 100%;
  height: 100%;
  right: -110%;
  top: 0;
  background: #F4F9FF;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
  text-align: left;
  z-index: 100
}

.primary-menu li.menu-item-has-children>ul.open {
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out
}



.primary-navigation {
  padding: 30px 0;
  @media(max-width: $breakpoint-sm) {
    padding: 0;
  }
  & .menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;

    &-item {
      @media(max-width: $breakpoint-sm) {
        display: block;
        width: 100%;
        border: none;
        border-radius: 0;
      }

      & + .menu-item {
        @media(max-width: $breakpoint-sm) {
          margin-top: 5px;
        }
      }

      & a {
        @include fontSize(14, 16);
        line-height: 1.18;
        color: $whiteColor;
        position: relative;
        padding: 12px 30px;
        @include transition(0.3);
        @media(max-width: $breakpoint-sm) {
          padding: 5px 0;
        }
        @media(max-width: $breakpoint-xl) {
          padding: 12px 20px;
        }
      }

      &:hover, &.current-menu-item {
        background: $whiteColor;
        @media(max-width: $breakpoint-sm) {
          background: transparent;
        }
        & a {
          color: $whiteColor;
          @media(max-width: $breakpoint-sm) {
            color:red;
          }
        }
      }
    }
  }
}


.lang {
  &-select {
    &-wrapper {
      position: relative;
      user-select: none;
      width: 100%;
    }
    &__trigger {
      position: relative;
      display: flex;
      align-items: center;
      font-weight: 500;
      color: $whiteColor;
      line-height: 24px;
      background: transparent;
      cursor: pointer;
      @include fontSize (14, 18);
      & span {
        color: $whiteColor;
      }
      & i {
        padding-left: 4px;
        &:before {
          font-size: 14px;
          display: block;
          @include transition(.3);
        }
      }
    }
    &.open {
      & .lang-options {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
      }
    }
    &.open {
      & .lang-select__trigger i:before {
        transform: rotate(180deg);
      }
    }
  }
  &-options {
    position: absolute;
    display: block;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
    @include transition (.3);
  }
  &-option {
    position: relative;
    display: block;
    font-weight: 500;
    color: $whiteColor;
    line-height: 30px;
    cursor: pointer;
    @include fontSize (14, 18);
    @include transition (.3);
    z-index: 99;
    &:hover {
      color: $lightBrownColor;
    }
  }
}

.hamburger {
  display: none;
  @include transition (.3);
  @media (max-width: $breakpoint-xl) {
    width: 25px;
    height: 25px;
    right: calc(50% - 12.5px);
    top: calc(50% - 8px);
    display: block;
    position: absolute;
    &-wrap {
      background: $lightBrownColor;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 50px;
      z-index: 1000;
      cursor: pointer;
      transition: 0.3s;
      &.active {
        position: fixed;
        background: transparent;
        height: 60px;
      }
    }
    & span, & span:first-child {
      position: absolute;
      display: block;
      color: $whiteColor;
      font-size: 8px;
      line-height: 6px;
      font-weight: 600;
      z-index: 100;
      @include transition (.3);
      &:before, &:after {
        content: '';
        position: absolute;
        height: 2px;
        width: 25px;
        border-radius: 100px;
        background: $whiteColor;
        @include transition (.3);
        left: 0;
      }
      &:before {
        top: -6px;
      } 
      &:after {
        top: -12px;
      }
    }
    &.open {
      top: 40px;
      & span:first-child {
        &:before, &:after {
          top: -9px;
          -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
          background: $lightBrownColor;
        }
        &:after {
          -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
        }
      }
      & span:last-child {
        opacity: 0;
        visibility: hidden;
      }
    }
  }
}

.hamburger {
  &.open {
    .hamburger-wrap {
      display: none;
    }
  }
}

.header-short {
  background: rgba(0, 0, 0, 0.5);
  height: auto;
  & .header-top, & .header-bottom {
    background: none
  }
  & .header-bg img {
    object-position: top;
  }
}