@import "../abstracts/mixins";
@import "../abstracts/variables";

.card-item {
  position: relative;
  &__image {
    z-index: 3;
    overflow: hidden;
    & img {
      @include transition (.3);
      @media (max-width: $breakpoint-sm) {
        min-height: 268px;
      }
    }
  }
  &:hover {
    & .card-item__image img {
      transform: scale(1.05);
    }
  }
  &__info {
    position: absolute;
    bottom: 0;
    color: $whiteColor;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 1;
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 40%;
      bottom: 0;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
      z-index: -1;
    }
    &_wrap {
      padding: 24px 24px 14px 24px;
      @media(max-width: $breakpoint-md) {
        padding: 14px;
      }
    }
    &:hover .card-item__image {
      display: none;
    }
  }
  &__title {
    @media (max-width: $breakpoint-sm) {
      font-size: 28px;
    }
  }
  &-links {
    z-index: 2;
    padding-top: 8px;
    & a {
      color: $whiteColor;
    }
  }
  &-link {
    z-index: 2;
    margin: 0 20px 10px 0;
    position: relative;
    @include fontSize (14, 16);
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background: $whiteColor;
      bottom: -2px;
      left: 0;
      @include transition (.3);
    }
    &:hover {
      &:after {
        width: 0;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
