@import "../abstracts/mixins";
@import "../abstracts/variables";

.main-screen {
  height: calc(100vh - 174px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: $breakpoint-xl) {
    height: calc(100vh - 198px);
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  @media (max-width: $breakpoint-md) {
    display: none;
  }
  &-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.4);
    }
    @media (max-width: $breakpoint-md) {
      height: 198px;
    }
    @media (max-width: 470px) {
      height: 168.55px;
    }
  }
}

// TOP NAV
.main-screen-top-nav {
  @media (max-width: $breakpoint-xl) {
    display: none;
  }
  & .menu-item {
    z-index: 2;
    padding: 12px 6px;
    position: relative;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
    & a {
      color: $whiteColor;
      @include fontSize (14, 18);
      line-height: 1.5;
      font-weight: 600;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        bottom: -3px;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        width: 0;
        height: 2px;
        background-color: $whiteColor;
        @include transition (.3);
      }
      &:hover {
        &:before {
          width: 100%;
        }
      } 
    }
  }
}
// END TOP NAV


// MAIN SCREEN CONTENT 
.main-screen-content {
  &__title {
    color: $whiteColor;
  }
  &__subtitle {
    padding-top: 15px;
    color: $whiteColor;
  }
}


// MAIN SCREEN CAROUSEL
@media (max-width: $breakpoint-xl) {
  .main-screen-carousel {
    display: none;
  }
}
.main-carousel {
  &__item {
    position: relative;
    width: 100%;
    &:before {
      content: '';
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.4) 50.52%, rgba(0, 0, 0, 0) 100%);
      border-radius: 5px 5px 0px 0px;
      transform: rotate(-180deg);
      position: absolute;
      width: 100%;
      height: 50%;
      left: 0;
      bottom: 0;
    }
  }
  &__image img {
    height: 360px;
    object-fit: cover;
    border-radius: 5px;
    @media (max-width: $breakpoint-xl) {
      height: 450px;
    }
  }
  &-info {
    padding-left: 22px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.4) 50.52%, rgba(0, 0, 0, 0) 100%);
      border-radius: 5px 5px 0px 0px;
      transform: rotate(-180deg);
      z-index: -1;
    }
  }
  &__title {
    padding: 50px 0 8px 0;
    max-width: 60%;
    z-index: 3;
    color: $whiteColor;
  }
  &__more {
    padding-left: 40px;
    color: $whiteColor;
    &:before {
      content: '';
      width: 30px;
      height: 2px;
      background: $whiteColor;
      position: absolute;
      left: 0;
      top: 50%;
      @include transition (.3);
    }
    &:hover {
      &:before {
        left: -5px;
      }
    }
  }
}
// END MAIN SCREEN CAROUSEL


// MAIN SCREEN BOTTOM NAV
.main-screen-bottom {
  background: rgba(32, 15, 21, .7);
  @media (max-width: $breakpoint-xl) {
    display: none;
  }
}

.secondary-menu {
  .sub-menu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 100%;
    left: 0;
    min-width: 200px;
    @include transition(.3);
    top: 50px;
    z-index: 999;
    &.open {
      opacity: 1;
      visibility: visible;
    }
  }
  &-item {
    @include transition(.3);
    position: relative;
    &:last-child {
      & .sub-menu {
        left: unset;
        right: 0;
      }
    }
    & i {
      padding: 0 8px;
    }
    &.isOpen {
      background: $lightBrownColor;
      & > a > i:before {
        transform: rotate(180deg);
        display: block;
      }
      & .secondary-menu-item {
        background: $lightBrownColor;
        &:hover {
          background: $darkBrownColor;
        }
      }
    }
  }
  & a {
    color: $whiteColor;
    @include fontSize (14, 18);
    line-height: 1.5;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding: 12px 0 12px 10px;
    & i {
      padding-left: 2px;
    }
  }
}

.--default-page {
  @media (max-width: $breakpoint-md) {
    &:before {
      display: none;
    }
  }
}

.--single {
  @media (max-width: 470px) {
    height: calc(100vh - 165.55px);
  }
  & .main-screen-content {
    // padding-bottom: 80px;
    &__title {
      padding-bottom: 24px;
    }
    &__discount {
      padding: 8px 24px;
      background: $redColor;
      border-radius: 100px;
      color: $whiteColor;
      display: inline;
      font-size: 16px;
      line-height: 24px;
    }
  }
  @media (max-width: $breakpoint-md) {
    display: flex;
  }
  & .main-screen-background {
    height: 100%;
  }
}

.--short {
  background: rgba(0, 0, 0, 0.5);
  height: auto;
  @media (max-width: $breakpoint-md) {
    display: flex;
  }
  & .main-screen-top, & .main-screen-bottom {
    background: none
  }
  & .main-screen-background {
    height: 274px;
    &:before {
      display: none;
    }
    @media (max-width: $breakpoint-xl) {
      height: 198px;
    }
    @media (max-width: 470px) {
      height: 168px;
    }
    & img {
     object-position: top;
   }
  }
}

.--other {
  // height: calc(100vh - 198px);
  & .main-screen-background {
    height: 100%;
  }
}