@import "../abstracts/mixins";
@import "../abstracts/variables";


.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  outline: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-overflow-scrolling: touch;
  &__body {
    position: absolute;
    display: flex;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-y: hidden;
  }
  &__close {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 100%;
    cursor: pointer;
    &:before, &:after {
      content: '';
      display: block;
      width: 18px;
      height: 2px;
      background: #fff;
      position: absolute;
      right: 12px;
      top: 50%;
      transform: rotate(45deg);
      @include transition(.3);
    }
    &:after {
      transform: rotate(-45deg);
    }
    &:hover {
      &:before, &:after {
        transform: rotate(-135deg);
      }
      &:after {
        transform: rotate(-225deg);
      }
    }
  }
  &__content {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 700px;
    background: $whiteColor;
    color: $defaultTextColor;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    overflow: hidden;
  }
}

.callback-modal {
  width: 100%;
  max-width: 480px;
  &__header {
    background: #B78131;
    padding: 10px 0;
    text-align: center;
    color: $whiteColor;
    position: relative;
  }
  &-content {
    padding: 24px 30px 30px 30px;
    @media (max-width: 400px) {
      padding: 15px;
    }
  }
  &__title {
    @include fontSize(12, 14);
    line-height: 20px;
    margin-bottom: 24px;
  }
}