@import "../abstracts/mixins";
@import "../abstracts/variables";

.pagination {
  margin: 44px 0 64px 0;
  & .current {
    color: $defaultTextColor; 
    border: 1px solid #333333;
  }
  & .prev i:before {
    display: block;
    transform: rotate(180deg);
  }
  &-desktop {
    @media (max-width: $breakpoint-md) {
      display: none;
    }
  }
  &-mobile {
    display: none;
    @media (max-width: $breakpoint-md) {
      display: block;
    }
  }
}

.page-numbers {
  border-radius: 3px;
  height: 40px; 
  width: 40px;
  border-radius: 3px;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  cursor: pointer;
  &:hover {
    border: 1px solid #333333;
    background: $whiteColor;
    color: $defaultTextColor; 
  }
  &.next, &.prev {
    @include transition(.3);
    border: none;
  }
  &.next:hover {
    padding-left: 12px;
  }
  &.prev:hover {
    padding-right: 12px;
  }
}