@import "../abstracts/mixins";
@import "../abstracts/variables";

.tabs {
  &-list {
    margin-bottom: 12px;
    &__item {
      &_link {
        padding: 8px 12px;
        font-weight: 500;
        line-height: 20px;
        @include transition(0.3);
        @include fontSize (12, 14);
        margin: 0 4px 4px 0;
        &.active {
          background: $darkYellowColor;
          color: $whiteColor;
        }
      }
    }
  }

  &-wrap {
    .tab-content {
      display: none;
      animation: fadeEffect .5s;
      -webkit-animation: fadeEffect .5s;
      &.is-show {
        display: block;
      }
      &.active {
        display: block;
      }
    }
  }
}

@keyframes fadeEffect {
  from {
    // height: 0;
    opacity: 0;
  }
  to {
    // height: 100%;
    opacity: 1;
  }
}

.mob-tab {
  display: none;
  @media (max-width: $breakpoint-lg) {
    display: block;
  }
}
