@import "../abstracts/mixins";
@import "../abstracts/variables";

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.--regular {
  font-weight: 400;
}

.--medium {
  font-weight: 500;
}

.--semibold {
  font-weight: 600;
}

.--bold {
  font-weight: 700;
}
.--black{
  font-weight: 800;
}

.--uppercase {
  text-transform: uppercase;
}

.heading-1 {
  @include fontSize(26, 56);
  line-height: 1.2;
}

.heading-2 {
  @include fontSize(28, 48);
  line-height: 1.25;
}

.heading-3 {
  @include fontSize(18, 36);
  line-height: 1.42;
}

.heading-4 {
  @include fontSize(18, 28);
  line-height: 1.32;
}

.heading-5 {
  @include fontSize(16, 24);
  line-height: 1.64;
}

.heading-6 {
  @include fontSize(14, 18);
  line-height: 1.6;
}

.icon-check-symbol:before {
  content: "\e900";
}
.icon-cheveron-down:before {
  content: "\e929";
  color: #fff;
  font-size: 26px;
}
.icon-cheveron-left:before {
  content: "\e92a";
  color: #fff;
}
.icon-cheveron-right:before {
  content: "\e92b";
  color: #fff;
}
.icon-cheveron-up:before {
  content: "\e92c";
  color: #fff;
}
.icon-arrow-bottom:before {
  content: "\e913";
  color: #fff;
}
.icon-slider-arrow-small:before {
  content: "\e904";
}
.icon-slider-arrow-big:before {
  content: "\e905";
}
// footer icons 
.icon-footer-categories:before {
  content: "\e908";
  color: #8e6954;
  font-size: 32px;
}
.icon-footer-tours:before {
  content: "\e909";
  color: #8e6954;
  font-size: 32px;
}
.icon-footer-globe:before {
  content: "\e90a";
  color: #8e6954;
  font-size: 32px;
}
.icon-star:before {
  content: "\e928";
  color: #b78131;
}
.icon-star-checked:before {
  content: "\e91b";
  color: #b78131;
}

.icon-checkmark:before {
  content: "\e918";
  color: #b78131;
}
.icon-location:before {
  content: "\e919";
  color: #777;
}
// categories icons 
.icon-basin:before {
  content: "\e917";
  color: #b78131;
}
.icon-bouvette:before {
  content: "\e903";
  color: #b78131;
}
.icon-cutlery:before {
  content: "\e906";
  color: #777;
}
.icon-kids:before {
  content: "\e90b";
  color: #777;
}
.icon-kyivstar:before {
  content: "\e90c";
  color: #00a0ff;
}
.icon-lifecell:before {
  content: "\e90d";
  color: #f8bd11;
}
.icon-parking:before {
  content: "\e90e";
  color: #777;
}
.icon-sauna:before {
  content: "\e910";
  color: #b78131;
}
.icon-solarium:before {
  content: "\e911";
  color: #b78131;
}
.icon-spa:before {
  content: "\e912";
  color: #777;
}
.icon-wifi:before {
  content: "\e916";
  color: #777;
}

.icon-envelope:before {
  content: "\e907";
  color: #9B989B;
  font-size: 26px;
}
.icon-phone:before {
  content: "\e90f";
  color: #9B989B;
  font-size: 26px;
}
