@import "../abstracts/mixins";
@import "../abstracts/variables";

// SIDEBAR
.sidebar {
  &-info {
    padding: 24px;
    margin-top: 12px;
    background: rgba(183, 129, 49, 0.1);
    border-radius: 3px;
    @media (max-width: $breakpoint-lg) {
      text-align: center;
    }
    @media (max-width: 400px) {
      text-align: left;
    }
  }
  &-phones {
    margin-bottom: 12px;
    & a {
      font-weight: bold;
      @include fontSize (12, 14);
      line-height: 24px;
      margin-bottom: 4px;
    }
  }
  &-reserve {
    width: 100%;
    margin-bottom: 16px;
    @include fontSize (12, 14);
  }
  &-discount {
    padding: 9px 6px;
    border: 1px solid $darkYellowColor;
    border-radius: 3px;
    display: flex;
    align-items: center;
    @media (min-width: 400px) {
      align-items: center;
      justify-content: center;
      &__image {
        padding-right: 10px;
      }
    }
    &__description {
      font-size: 14px;
      line-height: 20px;
    }
    &__amount {
      color: $darkYellowColor;
    }
  }
  &-treatment {
    margin-top: 15px;
    padding: 24px;
    background: rgba(183, 129, 49, 0.1);
    border-radius: 3px;
    @include fontSize (14, 16);
    line-height: 28px;
    @media (min-width: 400px) {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__heading {
      padding-bottom: 12px;
    }
    &__list {
      h2 {
        display: inline-block;
        padding-bottom: 4px;
      }
    }
  }
}

.sidenav {
  &__toggle {
    display: block;
    background: url('../../img/side-nav-categories-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    pointer-events: none;
    color: $whiteColor;
    position: relative;
    @include fontSize(16, 18);
    line-height: 1.6;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    border-radius: 3px 3px 0px 0px;
    z-index: 1;
    position: relative;
    @media (max-width: $breakpoint-lg) {
      padding: 14px;
      pointer-events: all;
    }
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(0, 0, 0, 0.5);
    }
    & i {
      display: none;
      position: absolute;
      top: calc(50% - 8px);
      margin-left: 8px;
      @media (max-width: $breakpoint-lg){
        display: inline-block;
      }
      &.navOpen {
        transform: rotate(180deg);
      }
    }
  }
  &-menu {
    padding-left: 24px;
    @media (max-width: $breakpoint-lg) {
      display: none;
    }
  }
  &__section {
    margin-top: 15px;
    overflow: hidden;
    display: block;
    &:last-child {
      padding-bottom: 36px;
      @media (max-width: $breakpoint-lg) {
        padding: 0;
      }
    }
    &.show {
      display: block
    }
  }
}

.sidenav-menu {
  margin-top: 16px;
  &__item {
    position: relative;
    @include fontSize(14, 18);
    line-height: 1.4;
    margin-bottom: 15px;
    & a {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        background: $defaultTextColor;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        @include transition(.3);
      }
      &:hover {
        &:before {
          width: 100%;
        }
      }
    }
  }
  & .on-sale {
    position: absolute;
    text-align: center;
    min-width: 40px;
    margin-left: 8px;
    @include fontSize(12, 14);
    line-height: 12px;
    padding: 4px;
    background: #E44242;
    border-radius: 100px;
    color: $whiteColor;
  }
}

.main .content {
  @media (max-width: $breakpoint-lg) {
    display: flex;
    flex-direction: column-reverse;
  }
}

// .sidebar{
//   margin-bottom: 200px;
// }

// .sidebar__inner{
//   transform: translate(0, 0); /* For browsers don't support translate3d. */
//   transform: translate3d(0, 0, 0);
//   will-change: position, transform;
// }

// CONTENT
.single {
  &-categories {
    padding-top: 12px;
    &-list {
      display: flex;
      flex-flow: row wrap;
      overflow-x: auto;
    }
    &__item {
      display: flex;
      align-items: center;
      border: 1px solid $darkYellowColor;
      border-radius: 3px;
      padding: 5px 8px;
      margin: 0 8px 8px 0;
      & i:before, & span {
        color: $darkYellowColor;
        font-weight: 500;
        font-size: 12px;
        line-height: 24px;
      }
      & i {
        padding-right: 8px;
        &:before {
          font-size: 22px;
        }
      }
    }
  }
  &-location {
    margin: 4px 0 16px 0;
    & i:before {
      font-size: 24px;
      padding-right: 10px;
    }
  }
  & .single-container {
    display: flex;
    flex-direction: column;
  }
  & .single-cover-image {
    @media (max-width: $breakpoint-lg) {
      display: none;
    }
  }
  & .main {
    @media (max-width: $breakpoint-lg) {
      display: flex;
      flex-direction: column-reverse;
    }
  }
  &-tabs {
    padding-bottom: 36px;
  }
  & iframe {
    width: 100%;
    height: 300px;
    margin-top: 20px;
  }
}




// TABS (DESCRIPTION)
.single-description {
  & p {
    color: $typographyGrey;
  }
}

// TABS (PRICES AND ROOMS)

.single-rooms {
  &__item {
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
    border-radius: 6px;
    padding: 24px;
    margin-bottom: 16px;
    & .mr-15 {
      margin-right: 15px;
    }
    & .pl-15 {
      padding-left: 15px;
      @media (max-width: $breakpoint-md) {
        padding: 0;
      }
    }
  }
  & .rooms {
    &-carousel {
      &-main {
        margin-right: 15px;
        width: 100%;
        height: 180px;
        & .flickity-prev-next-button {
          background: rgba(255, 255, 255, 0.7);
          width: 24px;
          height: 24px;
          top: calc(50% - 12px);
          &:hover {
            background: #fff;
          }
          &:after {
            font-size: 13px;
            color: #B78131
          }
          &.previous:after {
            margin: 0 3px 3px 0;
          }
          &.next:after {
            margin: 0 0px -3px 3px;
          }
        }
        &__item {
          width: 100%;
          height: 100%;
          position: relative;
          cursor: pointer;
          & img {
            border-radius: 3px;
          }
        }
      }
      &-nav {
        @media (max-width: $breakpoint-md) {
          display: none;
        }
        &__item {
          width: 24.5%;
          height: 90px;
          padding: 0 15px;
          border-radius: 3px;
          cursor: pointer;
          & a {
            display: block;
            height: 100%;
          }
          & img {
            border-radius: 3px;
          }
        }
      }
    }
    &-info {
      padding: 9px 0 0 15px;
      @media (max-width: $breakpoint-md) {
        padding: 9px 0 0 0;
      }
      &__main {
        padding-bottom: 9px;
      }
      &__price {
        padding-left: 12px;
        color: $darkYellowColor;
      } 
      &__benefits {
        & .rooms-benefits-list__item {
          padding: 0 10px 10px 0;
        }
      }
      &-accordion {
        &__item {
          @include fontSize (12, 14);
          margin: 0 24px 12px 0
        }
      }
    }
  }
  & .item {
    &-content {
      margin-top: 24px;
      display: none;
      & h2 {
        @include fontSize(14, 18);
        line-height: 1.32;
        margin-bottom: 8px;
        font-weight: 500;
      }
      & h3 {
        @include fontSize(14, 16);
        line-height: 1.64;
        margin-bottom: 6px;
        font-weight: 500;
      }
      & h4 {
        @include fontSize(12, 14);
        line-height: 1.6;
        margin-bottom: 4px;
        font-weight: 500;
      }
    }
    &-info {  
      & ul {
        & li:before {
          background: #B78131;
        }
      }
      & ol {
        & li:before {
          color: #B78131;
        }
      }
    }
    &-benefits {
      &-list {
        &__item {
          margin: 0 13px 13px 0;
        }
      }
    }
  }
}

// TABS (PRICES AND ROOMS) TABLE
.table-tabs {
  & > .row {
    @media (max-width: $breakpoint-lg) {
      flex-direction: column-reverse;
    }
  }
  & .tabs-list {
    &__heading {
      width: 100%;
      height: 54px;
      color: $whiteColor;
      background: $darkYellowColor;
    }
    &__item {
      width: 100%;
      &_link {
        display: block;
        border-radius: 0;
        margin: 0;
        border: none;
        // border: 1px solid $darkYellowColor;
        border-bottom: 1px solid #B78131;
        border-left: 1px solid #B78131;
        border-right: 1px solid #B78131;
      }
    }
    &__item:nth-child(2) {
      & a {
        border-top: 1px solid #B78131;
      }
    }
  }
  & .tabs-wrap {
    margin-right: 20px;
    @media (max-width: $breakpoint-lg) {
      margin: 0;
    }
  }
}

.price {
  &-table {
    &__row {
      text-align: center;
      border-bottom: 1px solid #EEEEEE;
      overflow: hidden;
      &.--header {
        background: $darkYellowColor;
        & .price-item {
          color: $whiteColor;
          &__name, &__date {
            color: $whiteColor;
          }
        }
      }
      & .price-item:first-child {
        background: $darkYellowColor;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
  }
  &-item {
    @include grid-size(33.33%);
    position: relative;
    padding: 7px 8px;
    min-height: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &:before {
      content: '';
      position: absolute;
      top: -100px;
      right: 0;
      width: 1px;
      height: 500px;
      background: #EEEEEE;
    }
    &__name {
      @include fontSize(12, 14);
      line-height: 20px;
      padding-bottom: 2px;
      color: $defaultTextColor
    }
    &__date {
      font-weight: 500;
      @include fontSize(12, 14);
      line-height: 20px;
      color: $defaultTextColor
    }
  }
}




.dividerBottom {
  @include dividerBottom;
}

.dividerRight {
  @include dividerRight;
}




// TABS (TREATMENT)
.treatment-carousel {
  margin-bottom: 12px;
  &__item {
    width: 23.5%;
    margin: 0 7.5px;
    height: 118px;
    @media (max-width: $breakpoint-md) {
      width: 49%;
      height: 190px;
    }
    @media (max-width: $breakpoint-sm) {
      width: 100%;
    }
    & a {
      display: block;
      height: 100%;
    }
  }
  .flickity-prev-next-button {
    background: rgba(255, 255, 255, 0.7);
    width: 24px;
    height: 24px;
    top: calc(50% - 12px);
    &:hover {
      background: #fff;
    }
    &:after {
      font-size: 13px;
      color: #B78131
    }
    &.previous:after {
      margin: 0 3px 3px 0;
    }
    &.next:after {
      margin: 0 0px -3px 3px;
    }
  }
}

.single-treatment {
  & ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 12px;
    & li {
      width: 33%;
      margin-bottom: 12px;
      @media (max-width: $breakpoint-md) {
        width: unset;
        margin: 0 12px 12px 0;
      }
    }
  }
  & h2 {
    @include fontSize(16, 24);
    line-height: 1.64;
    margin-bottom: 16px;
    font-weight: 700;
  }
  & h3 {
    @include fontSize (12, 14);
    line-height: 1.5;
    margin-bottom: 8px;
    font-weight: 500;
  }
}

// TABS (INFRASTRUCTURE)
.single-infrastructure {
  & .tabs-list {
    display: flex;
    margin-bottom: 16px;
    &__item {
      margin-right: 34px;
      &_link {
        color: $darkYellowColor;
        padding: 0;
        margin: 0;
        margin-bottom: 8px;
        line-height: 24px;
        &.active {
          width: 100%;
          background: transparent;
          &:before {
            width: 100%;
          }
        }
      }
    }
  }
  & .tabs-wrap {
    & .tab-content:first-child {
      display: block;
    }
  }
  & .column {
    padding: 0 8px;
    margin-bottom: 16px;
  }
  & .m-row {
    margin: 0 -8px;
  }
}
// TABS (TESTIMONIALS)
.testimonials-comments__item {
  margin-bottom: 16px;
  background: rgba(183, 129, 49, 0.1);
  border-radius: 3px;
  padding: 16px 24px;
  & .comment-author, & .comment-date {
    margin-right: 8px;
  }
  & .comment-meta {
    margin-bottom: 16px;
  }
  & .comment-text, & .comment-author, & .comment-date  {
    color: $darkYellowColor;
    @include fontSize (14, 16);
    line-height: 1.5;
  }
}

.testimonials-form {
  &__heading {
    margin-bottom: 12px;
  }
  &__inputs {
    margin-top: 12px;
  }
  &__submit {
    width: 260px;
  }
}

// TABS (FAQ)

.single-faq {
  & .faq__item {
    background: rgba(183, 129, 49, .1);
    margin-bottom: 16px;
    border-radius: 3px;
    padding: 16px 24px;
    @media (max-width: $breakpoint-md) {
      padding: 12px 16px;
    }
    &_heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 30px;
      font-weight: 500;
      @include fontSize(13, 16);
      line-height: 24px;
      color: $darkYellowColor;
      position: relative;
      cursor: pointer;
    }
    &_arrow {
      width: 24px;
      height: 24px;
      border-radius: 100%;
      background: $darkYellowColor;
      position: absolute;
      right: 0;
      margin-left: 4px;
      &:before, &:after {
        content: '';
        width: 10px;
        height: 1px;
        opacity: 1;
        position: absolute;
        left: calc(50% - 5px);
        top: calc(50% - .5px);
        background: $whiteColor;
        @include transition(.3);
      }
      &:after {
        transform: rotate(90deg);
      }
      &.open {
        &:after {
          opacity: 0;
        }
      }
    }
    &_content {
      padding: 12px;
      @include fontSize(12, 14);
      line-height: 20px;
      color: $darkYellowColor;
      display: none;
    }
  }
}

.single-recomendation {
  &__heading {
    margin-top: 36px;
    & h4 {
      padding: 0 24px;
      @media (max-width: 400px) {
        max-width: 70%;
        margin: 0 auto;
        text-align: center;
      }
    }
  }
  & .flickity-resize .categories-item {
    min-height: 100%;
  }
  & .categories-item {
    width: 25%;
    padding: 15px;
    height: unset;
    min-height: 100%;
    &__description {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
    @media (max-width: $breakpoint-lg) {
      width: 50%;
    }
    @media (max-width: 500px) {
      width: 100%;
    }
  }
  &-wrap {
    margin: 60px 0 10px 0;
    @media (max-width: $breakpoint-md) {
      margin: 10px 0;
    }
  }
  &__heading {
    & h4 {
      padding: 0 24px;
      @media (max-width: 400px) {
        max-width: 70%;
        margin: 0 auto;
        text-align: center;
      }
    }
  }
  & .flickity-prev-next-button {
    opacity: 0;
    visibility: hidden;
  }
}



